@model IEnumerable<preguntados.Models.Pregunta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pregunta1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpcionA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpcionB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpcionC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RespuestaCorrecta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pregunta1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpcionA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpcionB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpcionC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RespuestaCorrecta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
