@model preguntados.Models.Resultado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Resultado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespuestaElegida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespuestaElegida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsCorrecta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsCorrecta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraRespuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraRespuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jugador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jugador.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pregunta.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
